{{> nav}}
<div class='student'>
	<div class="student-list">
		<img src={{image}}/>
	</div>
	<h2>{{name}}</h2>
	<div><span class='bold'>Favourite Animal:</span> {{favouriteAnimal}}</div>
	<div><span class='bold'>Blog:</span><a href={{blog}} class='link'>
			{{blog}}</a></div>
            <div class="button-container">
	<a href='/students/{{id}}/edit'><button class='btn'> Edit</button></a>
	<a href='/'><button class='btn'>
			Home
		</button></a>
        </div>
</div>